
body {
    position: relative;
    
}

.header {
    width: 500px;
    /* position: absolute; */
    border: 1px solid rgb(18, 18, 221);
    margin: auto;
    margin-top: 50px;
}

.hoten {
    width: 100%;
    display: flex;
    height: 30px;
    margin-top: 60px;
    cursor: default;
}

.trai {
    line-height: 30px;
    background-color:rgb(89, 123, 187);
    margin-left: 40px;
    padding-left: 20px;
    margin-right: 30px;
    width: 20%;
    border: 1px solid rgb(18, 18, 221);
    color: rgb(215, 218, 221);
    
}

.text {
    width: 50%;
    border: 1px solid rgb(18, 18, 221);
}

.gioitinh1 {
    display: flex;
    height: 30px;
    margin-top: 20px;
    line-height: 30px;
    cursor: default;

}

.phai {
    cursor: pointer;
}

.phankhoa {
    display: flex;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    cursor: default;
}

.drop {

    height: 100%;
    width: 140px;
    border: 1px solid rgb(18, 18, 221);
    cursor: pointer;
}


.dangky {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    height: 40px;
    width: 120px;
    background-color: rgb(108, 197, 105);
    border: 1px solid rgb(18, 18, 221);
    border-radius: 10px;
    cursor: pointer;
    color:antiquewhite;

} 

